<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href = '/main.css' rel="stylesheet">
</head>
<body class="grey-bg">

    <!-- nav bar -->
    <%- include('nav.ejs') %>
    
    <div class="detail-bg">
        <strong><%= result.writer %></strong>
        <div class="date-box">
            <%= result.date.getFullYear() %>.<%= (result.date.getMonth() + 1).toString().padStart(2, '0') %>.<%= result.date.getDate().toString().padStart(2, '0') %>. <%= result.date.getHours().toString().padStart(2, '0') %>:<%= result.date.getMinutes().toString().padStart(2, '0') %>
        </div>
        <h2><%= result.title %></h2>
        <p><%= result.content %></p>
        
        <img src="<%= result.img %>">
        <br>
        <a href="/chat/request?writer_id=<%=result.writer_id%>">채팅하기</a>
    </div>
    
    
    <div class="detail-bg">
        <h4>댓글 작성</h4>
        <form class="reply-box" action="/add_reply" method="POST">
            <input name="parent_id" type="hidden" value="<%= result._id %>" >
            <input name="reply_content">
            <button type="submit" style="cursor: pointer;">작성</button>
        </form>

        
            <% for(let i = 0; i < result2.length; i++) { %>
                <div class="reply">
                    <h4><%= result2[i].writer_name %></h4>
                    <p><%= result2[i].content %></p>
                    <div class="date-box">
                        <%= result2[i].date.getFullYear() %>.<%= (result2[i].date.getMonth() + 1).toString().padStart(2, '0') %>.<%= result2[i].date.getDate().toString().padStart(2, '0') %>. <%= result2[i].date.getHours().toString().padStart(2, '0') %>:<%= result2[i].date.getMinutes().toString().padStart(2, '0') %>
                    </div>
                </div>
            <% } %>
        
        
    </div>
    

</body>

</html>