<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='/main.css' rel="stylesheet">
</head>

<body class="grey-bg">

    <%- include('nav.ejs', {user: user}) %>

        <div class="form-bg">


            <div class="form-white">
                <h2>마이페이지 수정</h2>
                <form action="/Edit_mypage" method="POST">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <div style="width: 100px; height: 100px; border-radius: 50%; background: none">
                                    <img src="https://sanggyeolbucket.s3.ap-northeast-2.amazonaws.com/main_logo.webp"
                                        alt="...">
                                </div>

                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>이름 : <%= user.username %>
                                </h3>
                                <p>주소 : <input class="form-input" type="text" name="address" value="<%= user.address %>"> </p>
                                <button type="button" class="btn btn-secondary">instagram</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                        <h4>자기소개</h4>
                        <input name="_id" value="<%= user._id %>" style="display: none;">
                        <textarea class="form-input form-input-content" name="introduce" ><%= user.introduce %></textarea>
                        
                    </div>
                    
                </div>
                <button class="form-button" type="submit">제출</button>
            </form>
            </div>

        </div>

</body>

</html>