<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href = '/main.css' rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>
    
    <form class="search-box" action="/search" method="POST"> 
        <input name="search_words">
        <button type="submit" style="cursor: pointer;">
            к≤АмГЙ
        </button>
    </form>

    <div class="white-bg">
        
        
        <% for(let i = 0; i < кЄАл™©л°Э.length; i++){ %>
            <div class="list-box">
                <h4>
                  <a href="/detail/<%= кЄАл™©л°Э[i]._id %>">
                    <%= кЄАл™©л°Э[i].title %>
                  </a>
                  <a href="/edit/<%= кЄАл™©л°Э[i]._id %>"> вЬПпЄП </a>
                  <span class="delete" data-id="<%= кЄАл™©л°Э[i]._id %>">рЯЧСпЄП</span>
                </h4>
                <p><%= кЄАл™©л°Э[i].content.length > 80 ? кЄАл™©л°Э[i].content.slice(0, 80) + '...' : кЄАл™©л°Э[i].content %></p>
                <p>мЮСмД±мЮР : <%= кЄАл™©л°Э[i].writer %></p>
                
            </div>
        <% } %>



       

</body>
</html>
